* {

    margin:0;
    padding:0;

}

body {

    background-image:url("../images/infinito.jpg");
   
}

.modal {
	
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    padding-top: 60px;	
}

#signup {

    margin:50px auto;
    padding:10px;
	width:55%;
	background-color:#feff7f;
    text-align:center;

}

    #signup > h1 {
    
        margin:40px;
    }

.container {

    margin:5px;
    width:45%;
    height:150px;
    display:inline-block;
    background-color:#feff7f;
    overflow:hidden;
    text-align:left;
}

.divPhoto {

    text-align:center;
}


.divPhoto > img {

    margin:auto;
    padding:0;
    display:inline-block;
    width:40%;
    border-radius:50%;
}

p, input[type=text] {

    margin:5px;
    padding:2px;
    display:block;
}

.left {

    float:left;
    font-weight:bold;
}

input[type=text] {

    float:right;
    width:60%;
}

#txtEmail {

    width:70%;
}

#botones {

    margin:30px;
}

button {

    margin:10px;
    width:40%;
    padding:15px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

#btnCreate {

    background-color:#00ff21;
}

#genderList {

    margin:5px;
    padding:2px;
    display:block;
}